body {
	background: url(../img/drake_logo_bg.jpg) no-repeat 50% 0 #0e0e0e;
	background-position: 30% 0px;
	background-size: 1900px 1200px;
	font: 12px/1.67 Arial, Helvetica, sans-serif;
	background-attachment: fixed;
}

.logo{
	width: 125px;
	height: 80px;
	position: relative;
	cursor: pointer;
}

.logo:hover{
	transition: transform 1s ease;
	transform: scale(1.17);
}

.hat{
	background-color: black;
	width: 100%;
	font-family:Century Gothic;
	border: 2px solid #5E2DA7;
}

header{
width: 100%;
height: 97px;
-o-border-radius: 7px 7px 0 0;
-moz-border-radius: 7px 7px 0 0;
-webkit-border-radius: 7px 7px 0 0;
border-radius: 7px 7px 0 0;
}

nav{
float: right;
clear: left;
margin-right: 20%;
}

nav li{
display: inline-block;
margin: 15px 10px 0px 0px;
}

nav li a{
color: white;
text-transform: uppercase;
font-weight: lighter;
padding: 3px 15px;
text-decoration: none;
font-size: 20px;

}

nav li a:hover{
	color: #494949;
	border-radius: 4px;
}

.desc{
	transition: margin-top 2s ease;
	margin-top: 120%;
	width: 230px;
	height: 475px;
	margin-left: 10%;
	margin-top: 10%;
	color: white;
	font-family:Century Gothic;
	text-align: center;
	font-weight: bold;
	word-wrap: normal;
	font-size: 15px;
	position: relative;
	display: inline-block;
}

.leftphoto:hover{
	transition: transform 1.5s ease;
	transform: scale(1.03);
}

.leftphoto{
	transition: margin-top 3s ease;
	margin-top: 170px;
	width: 400px;
	height: 400px;
	position: relative;
	float: left;
	margin-top: 210px;
	margin-left: 0px;
	border:2px solid #00B2DC;
}

.rightphoto:hover{
	transition: transform 1.5s ease;
	transform: scale(1.03);
}

.rightphoto{
	transition: margin-top 3s ease;
	margin-top: 220px;
	width:400px;
	height: 550px;
	float:right;
	margin-top: 110px;
	margin-right: 0px;
	border:2px solid #00B2DC;
	position: relative;
}


.bestalbum img:hover{
	transition: transform 1.5s ease;
	transform: scale(1.03);
}

.bestalbum img{
	width: 450px;
	height: 500px;
	margin-top: 150px;
	margin-left: 31%;
	border:2px solid #00B2DC;
}

.albdesc{
	height: 20px;
	color:white;
	font-family: Century Gothic;
	margin-right: 40px;
	margin-top: 130px;
	font-size: 35px;
	position:relative;
	text-align: center;

}

footer{
	margin-top: 200px;
	position: absolute;
}

.social{
	position: absolute;
}

}
.social img{
	position: absolute;
	display: inline-block;
	word-spacing: 20px;
	float: right;
	margin-right: 500px;
	background-color: white;
	margin-top: 150px;
}

.copyright{
	color:#00B2DC;
	font-family: Century Gothic;
	font-size: 15px;
	position: relative;
	text-align: center;
	float: right;
	margin-top: 150px;
	margin-left: 550px;
}

.dd{
  position: relative;
  display: inline-block;
}

.dd-content{
	display: none;
	position: absolute;
	background-color: white;
	min-width: 95px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	color: grey;
	z-index: 1;
	text-align: center;
	font-size: 15px;
	cursor: pointer;

}

/*.dd:hover .dd-content{
	display: flex;
	flex-direction: column;
	
}*/

.dd-content li:hover{
	transition: border 1s ease;
	border: 1px solid #00B2DC;
	transition: border-radius 1s ease;
	border-radius: 13px;
	transition: background-color 1s ease;
	background-color: #00B2DC;
}

.navbar-toggler.toggler-example{
	cursor: pointer;
}

.dropdown-menu{
	cursor: pointer;
}